*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    width: 100vw;
    background-color:#7a97ff ;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

h1{
    color: #ffff;
    text-align: center;

}

.imagens{
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.imagens p {
    width: 40%;
}

img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
}

